extends layout
block content
    div(class = 'container' style = 'margin-top:100px')
      img( src="/images/logan.jpg" class="img-fluid max-width: 100%" alt="Responsive image" align = 'left' )
    div(class = 'text-right')
      p My name is Logan I am a fantastic worker.
      p Let me tell you something
      p Let me tell you something
      p Let me tell you something
      p Let me tell you something


    
  
