extends layout 
block content
    
    div(class = 'text-center' style = 'margin-top:50px')
      img( src="/images/heading.jpg" class="img-fluid max-width: 100%" alt="Responsive image" )
      div(class = 'text-center ' style = 'margin-top:100px')
        h4 Project Porfolio
      div(class = 'text-center border' style = 'margin-top: 15px' )
        a(href = "#")
          img( src="/images/image (6).jpg" class="img-fluid max-width: 100%" alt="Responsive image" )
        h4 Hayden Hideaway
        p A front yard transformation gives the homeowners a new space to enjoy their lake views.


     
         
